benchmarks/config.json
benchmarks/*.log
benchmarks/*.pgn
a0lite.log

# Training artifacts
lightning_logs/
wandb/
/chess-engine/
/src/training/experiment_logs/*/*/checkpoints/

.env

__pycache__/
.DS_Store
